Node-Red-Json/flows with camera.json
[
    {
        "id": "da4fb43704281986",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "234eb326162618a7",
        "type": "inject",
        "z": "da4fb43704281986",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 310,
        "y": 260,
        "wires": [
            [
                "c855aa5ecc02c319"
            ]
        ]
    },
    {
        "id": "c855aa5ecc02c319",
        "type": "function",
        "z": "da4fb43704281986",
        "name": "",
        "func": "// create random position\n// var lat = 22.396428;\n// var lon = 114.109497;\nvar lat = 22.396428 + Math.random() * 0.2;\nvar lon = 114.109497 + Math.random() * 0.2;\nmsg.payload={\n    lat:lat, \n    lon:lon, \n    name:\"Mike\", \n    icon:\"male\", \n    color:\"#000\"};\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 320,
        "wires": [
            [
                "8efb49b36b4ea184",
                "748987fcff9e9578"
            ]
        ]
    },
    {
        "id": "7a281f412067ade3",
        "type": "ui_button",
        "z": "da4fb43704281986",
        "name": "",
        "group": "307cb55c70b1ba77",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Move Mike",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "fa-male",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 310,
        "y": 320,
        "wires": [
            [
                "c855aa5ecc02c319"
            ]
        ]
    },
    {
        "id": "5463c26ab26a6ca7",
        "type": "comment",
        "z": "da4fb43704281986",
        "name": "How to embed Map in Dashboard",
        "info": "This example shows how to embed the Worldmap \nwithin the `node-red-dashboard`\n\nThe  flow creates a dashboard button that \ngenerates a randon position, with the required \nicon, and passes that to the worldmap. The\nmap is configured to automatically pan to the\nposition of any point that arrives.\n",
        "x": 360,
        "y": 200,
        "wires": []
    },
    {
        "id": "8efb49b36b4ea184",
        "type": "worldmap-tracks",
        "z": "da4fb43704281986",
        "name": "",
        "depth": "5",
        "layer": "combined",
        "smooth": false,
        "x": 630,
        "y": 280,
        "wires": [
            [
                "748987fcff9e9578"
            ]
        ]
    },
    {
        "id": "748987fcff9e9578",
        "type": "ui_worldmap",
        "z": "da4fb43704281986",
        "group": "307cb55c70b1ba77",
        "order": 2,
        "width": 25,
        "height": 10,
        "name": "",
        "lat": "",
        "lon": "",
        "zoom": "",
        "layer": "OSMC",
        "cluster": "",
        "maxage": "",
        "usermenu": "show",
        "layers": "hide",
        "panit": "true",
        "panlock": "false",
        "zoomlock": "false",
        "hiderightclick": "true",
        "coords": "none",
        "showgrid": "true",
        "allowFileDrop": "false",
        "path": "/worldmap",
        "overlist": "DR,CO,RA,DN,BU,RW,SN,AC,TL,HM",
        "maplist": "OSMG,OSMC,EsriC,EsriS,EsriT,EsriO,EsriDG,NatGeo,UKOS,OpTop",
        "mapname": "",
        "mapurl": "",
        "mapopt": "",
        "mapwms": false,
        "x": 780,
        "y": 320,
        "wires": []
    },
    {
        "id": "e9d1879bd8253cf6",
        "type": "worldmap",
        "z": "da4fb43704281986",
        "name": "",
        "lat": "",
        "lon": "",
        "zoom": "14",
        "layer": "OSMC",
        "cluster": "",
        "maxage": "",
        "usermenu": "show",
        "layers": "show",
        "panit": "false",
        "panlock": "false",
        "zoomlock": "false",
        "hiderightclick": "false",
        "coords": "none",
        "showgrid": "false",
        "path": "/worldmap",
        "overlist": "DR,CO,RA,DN,BU,RW,SN,AC,TL,HM",
        "maplist": "OSMG,OSMC,EsriC,EsriS,EsriT,EsriO,EsriDG,NatGeo,UKOS,OpTop",
        "mapname": "",
        "mapurl": "",
        "mapopt": "",
        "mapwms": false,
        "x": 680,
        "y": 400,
        "wires": []
    },
    {
        "id": "258c6a8654e1da8b",
        "type": "inject",
        "z": "da4fb43704281986",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 310,
        "y": 400,
        "wires": [
            [
                "3330439f0ecc61f9"
            ]
        ]
    },
    {
        "id": "3330439f0ecc61f9",
        "type": "function",
        "z": "da4fb43704281986",
        "name": "Add minimap",
        "func": "msg.payload = {\n    command: {\n        map: {\n            minimap: \"OSM\",\n            opt: {\n    \t\t\t// centerFixed: [51.05, -1.35],\n                centerFixed: [0, 0],\n    \t\t\ttoggleDisplay: true\n    \t\t}\n        }\n    }\n}\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 400,
        "wires": [
            [
                "e9d1879bd8253cf6"
            ]
        ]
    },
    {
        "id": "b61ff8a67ff88521",
        "type": "inject",
        "z": "da4fb43704281986",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 310,
        "y": 440,
        "wires": [
            [
                "339076fd88e728f1"
            ]
        ]
    },
    {
        "id": "339076fd88e728f1",
        "type": "function",
        "z": "da4fb43704281986",
        "name": "Remove minimap",
        "func": "msg.payload = {\n    command: {\n        map: {\n            minimap: false\n        }\n    }\n}\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 440,
        "wires": [
            [
                "e9d1879bd8253cf6"
            ]
        ]
    },
    {
        "id": "307cb55c70b1ba77",
        "type": "ui_group",
        "z": "da4fb43704281986",
        "name": "World Map",
        "tab": "78f1ee1b51ffe013",
        "order": 1,
        "disp": true,
        "width": 25,
        "collapse": false,
        "className": ""
    },
    {
        "id": "78f1ee1b51ffe013",
        "type": "ui_tab",
        "name": "Home Page",
        "icon": "dashboard",
        "order": 5,
        "disabled": false,
        "hidden": false
    }
]